<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
   
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    

  </head>
  
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- ================== BEGIN core-js ================== -->
	<!-- <script src="../assets/js/blog/vendor.min.js"></script>
	<script src="../assets/js/blog/app.min.js"></script> -->
	<!-- ================== END core-js ================== -->


  <!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/e-commerce/vendor.min.js"></script>
	<script src="../assets/js/e-commerce/app.min.js"></script>
	

  </body>
</html>
