<template>
  <div>
    <!-- begin #content -->
    <div id="content" class="content">
      <!-- begin container -->
      <div class="container">
        <!-- begin row -->
        <div class="row row-space-30">
          <!-- begin col-9 -->
          <div class="col-lg-9">

            <!-- begin post-list -->
            <PostList v-bind:data="PostList"></PostList>
            <!-- end post-list -->

            <div class="section-container">
              <!-- begin pagination -->
              <div class="pagination-container">
<Pagination v-bind:data="pagesInfo"></Pagination>
                <!-- <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="javascript:;">Prev</a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="javascript:;">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">3</a></li>
                  <li class="page-item"><span class="text">...</span></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">1797</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:;">Next</a></li> -->
               
                <!-- </ul> -->
              </div>
              <!-- end pagination -->
            </div>
          </div>
          <!-- end col-9 -->
          <!-- begin col-3 -->
          <div class="col-lg-3">
            <!-- begin section-container -->
            <div class="section-container">
              <div class="input-group sidebar-search">
                <input type="text" class="form-control" placeholder="Search Our Stories..." />
                <button class="btn btn-inverse" type="button"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <!-- end section-container -->

            <!-- begin section-container -->
            <SidebarCategorySection v-bind:data="SidebarCategorySection"></SidebarCategorySection>
            <!-- end section-container -->

            <!-- begin section-container -->
            <SidebarRecentSection v-bind:data="SidebarRecentSection"></SidebarRecentSection>
            <!-- end section-container -->

            <!-- begin section-container -->
            <div class="section-container">
              <h4 class="section-title"><span>Follow Us</span></h4>
              <ul class="sidebar-social-list">
                <SocialIconList link="#" classList="fab fa-facebook"></SocialIconList>
                <SocialIconList link="#" classList="fab fa-twitter"></SocialIconList>
                <SocialIconList link="#" classList="fab fa-google-plus"></SocialIconList>
                <SocialIconList link="#" classList="fab fa-instagram"></SocialIconList>
              </ul>
            </div>
            <!-- end section-container -->
          </div>
          <!-- end col-3 -->
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </div>
    <!-- end #content -->
  </div>
</template>

<script>
import SocialIconList from "@/components/SocialIconList";
import SidebarCategorySection from "@/components/SidebarCategorySection";
import SidebarRecentSection from "@/components/SidebarRecentSection";
import PostList from "@/components/PostList";
import Pagination from "@/components/Pagination";

export default {
  components: {

    SocialIconList,
    SidebarCategorySection,
    SidebarRecentSection,
    PostList,
    Pagination,
  },
  name: "BlogContent",

  data() {
    return {
       pagesInfo: {
        pages: 5,
        currentPage: 2, 
      },
      PostList: [
        {
          postDay: "03",
          postMonth: "SEPT",
          postLikes: "520",
          postTitle: "Bootstrap Carousel Blog Post",
          postByLink: "",
          postByName: "admin",
          postCommentCount: "2",
          postTextPreview:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis elit dolor, elementum ut ligula ultricies, aliquet eleifend risus. Vivamus ut auctor sapien. Morbi at nibh id lorem viverra commodo augue dui, in pellentesque odio tempor. Etiam lobortis vel enim vitae facilisis. Suspendisse ac faucibus diam, non malesuada nisl. Maecenas vel aliquam eros, sit amet gravida lacus. nteger dictum, nulla",
          postPicSrc: "assets/img/post/post-1.jpg",
          postLink: "post_detail",
          
        },
           {
          postDay: "21",
          postMonth: "OCT",
          postLikes: "1,292",
          postTitle: "Demonstration Blog Post",
          postByLink: "",
          postByName: "admin",
          postCommentCount: "12",
          postTextPreview:
            "Pellentesque sit amet lectus at urna tempus tincidunt. Curabitur aliquet nisl ut magna efficitur scelerisque. Mauris molestie elementum massa eget bibendum. Sed mauris tortor, condimentum nec efficitur lobortis, tempus ac metus. Donec molestie, tortor ut rhoncus consectetur, ipsum elit maximus nulla, a vulputate augue massa ac dolor.  Quisque euismod ornare cursus. Ut consequat pellentesque mattis",
          postPicSrc: "assets/img/post/post-4.jpg",
          postLink: "post_detail",
         
        },
          {
          postDay: "18",
          postMonth: "OCT",
          postLikes: "1,743",
          postTitle: "Blog Post Video",
          postByLink: "",
          postByName: "admin",
          postCommentCount: "1,292",
          postTextPreview:
            "Praesent maximus malesuada purus, sit amet auctor velit scelerisque nec. Suspendisse eget pellentesque dui, ut egestas orci. Proin eget massa et magna faucibus pulvinar. Quisque tortor orci, volutpat vel auctor non, varius a augue. Cras non ante arcu. Phasellus sit amet dolor non est dictum convallis vel eu lectus. Etiam consectetur non leo at auctor. Proin porttitor tellus arcu, in accumsan eros tincidunt eget",
         
          postLink: "post_detail",
          postVideoLink:"https://www.youtube.com/embed/_5aKcpAhTOk"
        },
          {
          postDay: "12",
          postMonth: "OCT",
          postLikes: "3,673",
          postTitle: "Blockquote Post",
          postByLink: "",
          postByName: "admin",
          postCommentCount: "2",
          postTextPreview:
            "Ut vulputate sem id egestas faucibus. Phasellus volutpat malesuada lacus, eu semper enim hendrerit a. Mauris vehicula sapien sit amet eros pharetra dignissim. Quisque sed elit hendrerit, tempor sem ut, faucibus massa. Aliquam rutrum id massa interdum dapibus. Proin augue massa, feugiat eu velit vitae, vulputate ullamcorper turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.",
          postQuote: "What is design? Its where you stand with a foot in two worlds - the world of technology and the world of people and human purposes - and you try to bring the two together.",
          postLink: "post_detail",
        
        },
          
      ],
      SidebarCategorySection: {
        title: "Categories",
        links: [
          { link: "post_grid", text: "Sports", count: "20" },
          { link: "post_grid", text: "Outdoor Sports", count: "45" },
          { link: "post_grid", text: "Indoor Sports", count: "1,292" },
          { link: "post_grid", text: "Video Shooting", count: "12" },
          { link: "post_grid", text: "Drone", count: "229" },
          { link: "post_grid", text: "Uncategorized", count: "1,482" },
        ],
      },
      SidebarRecentSection: {
        title: "Recent Post",
        links: [
          { link: "post_grid", text: "Lorem ipsum dolor sit amet.", pubDate: "23 December 2018" },
          { link: "post_grid", text: "Vestibulum a cursus arcu.", pubDate: "16 December 2018" },
          { link: "post_grid", text: "Nullam vel condimentum lectus.", pubDate: "7 December 2018" },
          {
            link: "post_grid",
            text: "Proin in dui egestas libero posuere ullamcorper.",
            pubDate: "20 November 2018",
          },
          { link: "post_grid", text: "Interdum et malesuada fames ac ante.", pubDate: "4 November 2018" },
        ],
      },
    };
  },
};
</script>
