<template>
    
    <div>

        <!-- begin #header -->
	<div id="header" class="header navbar navbar-default navbar-expand-lg navbar-fixed-top">
		<!-- begin container -->
		<div class="container">
			<!-- begin navbar-brand -->
			<router-link to="/" class="navbar-brand">
				<span class="brand-logo"></span>
				<span class="brand-text">
					COLOR ADMIN
				</span>
			</router-link>
			<!-- end navbar-brand -->
			<!-- begin navbar-toggle -->
			<button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#header-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- end navbar-toggle -->
			<!-- begin navbar-collapse -->
			<div class="collapse navbar-collapse" id="header-navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" data-bs-toggle="dropdown">HOME <b class="caret"></b></a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="account">Page with Transparent Header</a>
							<a class="dropdown-item" href="account">Page with Inverse Header</a>
							<a class="dropdown-item" href="account">Default Header</a>
						</div>
					</li>
					<li class="dropdown">
						<a href="#" data-bs-toggle="dropdown">POSTS <b class="caret"></b></a>
						<div class="dropdown-menu">
							<router-link class="dropdown-item" to="post_grid">Page with Grid View Blog Post</router-link>
							<a class="dropdown-item" href="account">Page without Sidebar</a>
						</div>
					</li>
					<li><a href="#">ABOUT ME</a></li>
					<li><a href="#">CONTACT US</a></li>
					<li><router-link to="ecom">PURCHASE</router-link></li>
				</ul>
			</div>
			<!-- end navbar-collapse -->
		</div>
		<!-- end container -->
	</div>
	<!-- end #header -->

    
    </div>
</template>