<template>
  <li>
    <a v-bind:href="link"> <i v-bind:class="classList"></i></a>
  </li>
</template>

<script>
export default {
  name: "SocialIconList",
  props: ["classList", "link"],
  data() {
    return {};
  },
};
</script>
